<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Location:</p>
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="image-responsive" src={{post.image}}>
        <div class="caption-full">
          <h4>
            {{post.name}}
          </h4>
          <p>{{post.description}}</p>
          <p>
            <em>Submitted By {{post.author.username}}</em>
          </p>
          <div *ngIf="currentUser != '0' && (post.author.id == currentUser._id || currentUser.isAdmin)">
            <a class="btn btn-xs btn-warning" routerLink="/blogs/{{post._id}}/edit">Edit</a>
            <a (click)="deletePost(post._id)" class="btn btn-xs btn-danger">Delete</a>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" routerLink="/blogs/{{post._id}}/comments/new">Add New Comment</a>
        </div>
        <hr>
        <div *ngFor="let comment of post.comments">
          <div class="row">
            <div class="col-md-12">
              <strong>
                {{comment.author.username}}
              </strong>
              <span class="pull-right">
                {{comment.createdAt}}
              </span>
              <p>
                {{comment.text}}
              </p>
              <div *ngIf="currentUser != '0' && (comment.author.id == currentUser._id || currentUser.isAdmin)">
                <a class="btn btn-xs btn-warning" routerLink="/blogs/{{post._id}}/comments/{{comment._id}}/edit">
                  Edit
                </a>
                <a (click)="deleteComment(comment._id)" class="btn btn-xs btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>