<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <div class="thumbnail">
                <img src="{{user.avatar}}" alt="user profile image">
                <div class="caption">
                    <a href="mailto:{{user.email}}">email</a>
                    <a class="btn btn-xs btn-primary pull-right" *ngIf="currentUser && (user._id == currentUser._id || currentUser.isAdmin)" routerLink="/users/{{user._id}}/edit">
                        Edit Profile
                    </a>
                    <!-- <a class="btn btn-xs btn-primary pull-right" *ngIf="currentUser && currentUser.isAdmin" (click)="deleteUser(user._id)">
                        Delete Profile
                    </a> -->
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>{{user.firstName}}'s posts:</h3>
            <ul *ngFor="let post of posts">
                <li>
                    <a routerLink="/blogs/{{post._id}}">{{post.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>